__pycache__
env
routing/__pycache__/
../routingSystem/__pycache__/
../routingSystem/backend/__pycache__/
../routingSystem/backend/core/__pycache__/
routing/templates/static/
routing/templates/dev_static/
app.log
