/* deletetag_styles.css */
.top-container {
    text-align: center;
    margin-top: 20px;
}

.h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.detail_script {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.form-container form {
    font-size: 1rem;
    width: 100%;
    max-width: 600px; /* 必要に応じて最大幅を調整してください */
    margin: 0 auto; /* フォームを中央に配置 */
    box-sizing: border-box; /* パディングやボーダーを含めて幅を計算 */
}

.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
    width: 100%;
    align-items: flex-start; /* 左端を揃える */
}

.form-group label {
    font-size: 1.2em;
    margin-right: 10px;
    flex: 1;
}

.form-group select {
    flex: 2;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
}

.form-group select:focus {
    border-color: #4CAF50;
    outline: none;
}

#generated {
    text-align: center;
}

.btn-submit {
    background-color: #4CAF50; /* 元の色に戻す */
    color: white;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: #45a049; /* 元の色に戻す */
}

/* レスポンシブ対応：画面幅が600px以下のデバイス用 */
@media (max-width: 600px) {
    .form-group {
        display: flex;
        flex-direction: column;
        align-items: left;
        margin-bottom: 15px;
    }
    
    .form-container {
        align-items: left;
        margin-top: 20px;
    }

    .form-container form {
        font-size: 0.6rem;
        width: 100%;
        max-width: 600px; /* 必要に応じて最大幅を調整してください */
        margin: 0 auto; /* フォームを中央に配置 */
        box-sizing: border-box; /* パディングやボーダーを含めて幅を計算 */
    }

    .h1 {
        font-size: 2em;
        margin-bottom: 10px;
    }
    
    .h2 {
        font-size: 1rem;
        margin-bottom: 20px;
    }
    
}