/* 必要に応じてスタイルを追加 */
body {
    font-family: 'Baloo 2', cursive;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f0f0f0;
}

header {
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box; /* パディングが幅に含まれるように */
    z-index: 1001;
}


header .toggle-btn {
    font-size: 24px; /* ボタンの文字サイズ */
    position: fixed;
    left: 20px;
    background: none; /* ボタンの背景をなしに設定 */
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

/* メインコンテンツのスタイル */
main {
    flex: 1;
    margin-top: 60px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.container {
    margin-top: 70px; /* headerの高さに合わせて調整 */
    padding: 0px;
    display: flex;
    flex: 1;
}

.sidebar {
    background-color: #fff;
    width: 200px;
    padding: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: width 0.3s;
    position: fixed;
    top: 70px; /* headerの下に配置 */
    left: 0;
    height: calc(100% - 70px); /* headerを除いた高さ */
    z-index: 1000;
}

.side-btn {
    background-color: transparent;
    padding: 20px;
    position: fixed;
    transition: width 0.3s;
    margin-left: auto;
}

.hidden {
    display: none;
}

.sidebar .toggle-btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin-top: 40px;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 12px;
    position: relative;
    overflow: hidden;
    transition: color 0.3s;
}

.sidebar ul li a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: -1;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease;
}

.sidebar ul li a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.sidebar ul li a:hover {
    color: #666;
}

.sidebar.collapsed ul li a {
    opacity: 0;
}

.content {
    flex: 1;
    padding: 20px;
    overflow: hidden; /* コンテンツエリアからはみ出るのを防ぐため */
}

h3 {
    font-size: 24px; /* デフォルトの文字サイズ */
    margin: 0; /* h1の余白をリセット */
    flex: 1; /* テキストをボタンとスペースに合わせて調整 */
    text-align: center; /* テキストを中央揃え */
}

h1 {
    font-size: 24px;
    margin: 0;
    font-weight: normal;
}

.h2 {
    font-size: 1.5em;  /* フォントサイズ */
    color: #555;       /* 色をグレーに */
    margin: 5px 0;    /* 上下のマージン */
}

/* 入力欄のホバーエフェクト */
input[type="number"]:hover, select:hover {
    border-color: #666;
}

/* 送信ボタンのスタイル */
input[type="submit"] {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

input[type="submit"]:active {
    background-color: #004085;
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.btn:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.btn:active {
    background-color: #004085;
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    background-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-primary:active {
    background-color: #004085;
}


/* ボタンを横並びに配置するコンテナ */
.btn-group {
    display: flex;
    flex-direction: row;  /* 横並び */
    gap: 15px; /* ボタン同士の間隔 */
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.for_login {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    text-align: center; /* Center text within the div */
    margin: 2rem; /* Optional: Add margin around the element */
}



/* スマートフォンなど小さいデバイス用のスタイル */
@media (max-width: 600px) {
    .btn-group {
        width: 100%;
        gap: 10px;
        display: flex;
        flex-direction: row;  /* 横並び */
        justify-content: center;
    }

    .btn {
        width: 100%; /* ボタンを幅いっぱいに */
        padding: 12px 0;
    }

    
    header {
        height: 30px;
        padding: 10px 10px; /* パディングを調整して、スペースを確保 */
    }
    
    .toggle-btn {
        font-size: 20px; /* ボタンのサイズも調整 */
    }
    
    .sidebar {
        top: 30px; /* headerの下に配置 */
        height: calc(100% - 30px); /* headerを除いた高さ */
    }

    main {
        margin-top: 30px;
        padding: 0px; /* headerの高さに合わせて調整 */
    }

    .container {
        margin-top: 30px; /* headerの高さに合わせて調整 */
    }

    header .toggle-btn {
        left: 5px;
    }
        
    h3 {
        font-size: 14px; /* デフォルトの文字サイズ */
    }

}

