{% extends 'base.html' %}

{% block header %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="{% static 'css/instruction_styles.css' %}">
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="top-container">
    <div class="h1">システムの使い方</div>
    <div class="detail_script">このページでは、 巡回経路探索システム「まわるくん」の使い方を解説しています。</div>
</div>

<div class="center-container">

    <div class="toc">
        <h2>目次</h2>
        <ol>
            <li><a href="#feature1">「まわるくん」とは？</a></li>
            <li><a href="#feature2">サイドバー</a></li>
            <li><a href="#feature3">経路探索のやり方</a></li>
            <li><a href="#feature4">タグの登録/追加/削除のやり方</a></li>
            <li><a href="#feature5">マイページ</a></li>
            <li><a href="#feature6">ログアウト</a></li>
        </ol>
    </div>

    <div class="feature" id="feature1">
        <h2 class="feature-title">「まわるくん」とは？</h2>
        {% load static %}
        <p class="feature-description">
            巡回経路探索システム「まわるくん」をご利用いただき、ありがとうございます！<br>
            <img src="{% static 'img/indexpage.png' %}" alt="まわるくん" class="feature-image">
            <br>
            本システムでは、調布市内のスポットを徒歩で巡回する経路を探索することができます。<br>
            他の地図アプリとは異なり、下図のような<font class="red-bold">「タグ」を利用した条件</font>によって巡回経路を導出します。（タグについては、以下で説明します。）<br>
            <img src="{% static 'img/example_joken.png' %}" alt="入力条件" class="feature-image">
            この図では、経由地点に<font class="red-bold">コンビニ</font>、<font class="red-bold">飲食店</font>という、具体的なスポット名ではなく、<font class="red-bold">スポットのカテゴリ</font>を入力しています。<br>
            このスポットのカテゴリは、<font class="red-bold">タグ</font>と呼んでいます。<br>
            それをもとに、システムはいずれかの「コンビニ」、「飲食店」を経由する中でもより短い経路を探索して、５つの経路を提案します。
            （巡回する順番は不問となります。）<br>
            こちらの条件では、これらのような経路が出てきました。<br>
            <img src="{% static 'img/example_keiro1.png' %}" alt="経路1" class="feature-image">
            <img src="{% static 'img/example_keiro2.png' %}" alt="経路2" class="feature-image">
            <img src="{% static 'img/example_keiro3.png' %}" alt="経路3" class="feature-image">
            <img src="{% static 'img/example_keiro4.png' %}" alt="経路4" class="feature-image">
            <img src="{% static 'img/example_keiro5.png' %}" alt="経路5" class="feature-image">
            <br>
            なお、巡回経路探索にはアリコロニー最適化というアルゴリズムを使用しており、
            もう一度同じ条件で探索しても違う経路が提案される場合があります。<br>
            そして、多様な経路を推薦するために、同じスポットが複数の経路で推薦されにくくしています。<br>
            ぜひ、理想の巡回経路を探してみてください！<br>
        </p>
    </div>

    <div class="feature" id="feature2">
        <h2 class="feature-title">サイドバー</h2>
        {% load static %}
        <img src="{% static 'img/sidebar.png' %}" alt="サイドバー" class="feature-image">
        <p class="feature-description">
            <font class="bold">≡</font>ボタンをクリックすると、<font class="red-bold">サイドバー</font>が表示されます。<br>
            ここから、各ページに遷移して、経路検索、タグの編集、保存した経路の閲覧などが可能です。
        </p>
    </div>
    
    <div class="feature" id="feature3">
        <h2 class="feature-title">経路探索のやり方</h2>
        <p class="feature-description">
            本システムでは、自分の目的に合った巡回経路を検索することができます。<br>
            出発地点、到着地点としてスポットを入力してください。<br>
            そして、経由地点を<font class="red-bold">スポット</font>または<font class="red-bold">タグ</font>から選択し、探索ボタンを押すと、経路が検索されます。
        </p>

        <img src="{% static 'img/joken.png' %}" alt="検索条件" class="feature-image">
        <br>
        <p class="feature-description">
            出発地点・到着地点・経由地点はテキストで入力し、候補の中から選択することができます。スポットとタグから選択することができます。<br>
        </p>

        <img src="{% static 'img/text_input.png' %}" alt="テキスト入力" class="feature-image">
        <br>
        <p class="feature-description">
            <font class="red-bold">タグ</font>ボタンを押すと、登録された中からタグを選択することができます。<br>
        </p>

        <img src="{% static 'img/select_input.png' %}" alt="選択式入力" class="feature-image">
        <br>
        <p class="feature-description">
            <font class="red-bold">タグ</font>は、スポットの特徴を表し、１つのスポットに複数付与することができます。<br>
            経由地点にタグを指定すると、そのタグを持つスポットが含まれる経路が検索されます。
        </p>
        <img src="{% static 'img/keiro1.png' %}" alt="経路1" class="feature-image">
        <br>
        <img src="{% static 'img/keiro2.png' %}" alt="経路2" class="feature-image">
        <p class="feature-description">
            入力条件を満たす<font class="red-bold">最大５つの経路</font>が表示されます。<br>
            経路を保存して後から確認することも可能です。
        </p>
        <p class="feature-description">
            なお、対象地域を調布市としているため、登録されているスポットは調布市内のスポットのみとなります。
        </p>
    </div>
    
    <div class="feature" id="feature4">
        <h2 class="feature-title">タグの登録/追加/削除方法</h2>
        <p class="feature-description">
            ここでは、<font class="red-bold">タグ</font>の編集機能について説明します。<br>
            <font class="red-bold">タグ</font>は、「最初から付いているもの」と「後から自分で付けるもの」があります。<br>
            以下では、<font class="red-bold">タグ</font>を新しく自分で登録する方法/登録したタグを削除する方法について説明します。<br>
        </p>
        <img src="{% static 'img/toroku.png' %}" alt="タグの登録" class="feature-image">
        <p class="feature-description">
            まず、<font class="red-bold">タグの登録</font>画面で、新しいタグを入力して登録します。<br>
        </p>
        <img src="{% static 'img/addtag1.png' %}" alt="タグの追加1" class="feature-image">
        <p class="feature-description">
            次に、<font class="red-bold">スポット情報</font>画面で、登録したいスポットを検索します。<br>
        </p>
        <img src="{% static 'img/addtag2.png' %}" alt="タグの追加2" class="feature-image">
        <p class="feature-description">
            そして、+ボタンより、タグを追加します。<br>
        </p>
        <img src="{% static 'img/sakujo.png' %}" alt="タグの削除" class="feature-image">
        <p class="feature-description">
            <font class="red-bold">タグの削除</font>画面で、登録したスポットのタグを選択して削除することもできます。<br>
        </p>
    </div>
    
    <div class="feature" id="feature5">
        <h2 class="feature-title">マイページ</h2>
        <img src="{% static 'img/mypage.png' %}" alt="マイページ" class="feature-image">
        <p class="feature-description">
            マイページでは、保存した巡回経路の情報を閲覧したり、これまでにタグを追加したスポットの一覧を見たりすることができます。
        </p>
        <img src="{% static 'img/route_disp.png' %}" alt="経路表示" class="feature-image">
        <p class="feature-description">
            <font class="red-bold">保存した巡回経路一覧</font>の、<font class="red-bold">詳細を表示</font>ボタンをクリックすると、保存した巡回経路の情報と地図を閲覧することができます。<br>
            「時間」は、分速80mで歩いた場合の所要時間を表しています。
        </p>
    </div>
    
    <div class="feature" id="feature6">
        <h2 class="feature-title">ログアウト</h2>
        <p class="feature-description">
            システムからログアウトします。<br>
            ログアウトする前に、<font class="red-bold"><a href="https://docs.google.com/forms/d/e/1FAIpQLSd8XiJmAs0sF-mKICr4SI4UlaZ6XTLvK5OCfj5G-5cJtjjP2w/viewform?usp=pp_url" target="_blank">アンケート</a></font>のご協力をぜひよろしくお願いいたします。
        </p>
    </div>
</div>

<!-- JavaScriptの追加 -->
<script src="{% static 'scripts/instruction_scripts.js' %}"></script>
    
{% else %}
<div class="for_login">
    <div class="h2">
        アカウントを登録してください。アカウントをお持ちの方は、ログインしてください。
    </div>

    <div class="btn-group">
        <a href="{% url 'accounts:signup' %}" class="btn btn-primary">アカウント登録</a>
        <a href="{% url 'accounts:login' %}" class="btn btn-primary">ログイン</a>
    </div>
</div>
{% endif %}


{% endblock %}
