{% extends 'base.html' %}

{% block header %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/display_styles.css' %}">
<link rel="stylesheet" href="{% static 'css/mypage_styles.css' %}">
<link rel="stylesheet" href="{% static 'css/route_display_styles.css' %}">
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="route_container">
    <h2>保存した巡回経路情報</h2>

    <div class="route-list">

        <div class="route-card">
            <div class="route-header">
                <div class="route-title">
                    <h2>{{ route.title }}</h2>
                    <!-- <span class="route-id">ID: {{ route.id }}</span> -->
                </div>
                <h3>{{ route.start_spot }} ~ {{ route.goal_spot }}</h3>
            </div>

            <div class="route-details">
                <p>
                    <span>検索時刻:</span>
                    <span class="created_at">{{ route.created_at }}</span>
                </p>
                
                <p>
                    <span>距離:</span>
                    <span class="distance">{{ route.distance }} m</span>
                </p>

                <p>
                    <span>時間:</span>
                    <span class="time">{{ route.time }} 分</span>
                </p>
            
                <p>
                    <span>経由地点数:</span>
                    <span class="via_num">{{ route.via_num }} 箇所</span>
                </p>
                
                <p>経由地点:
                    <ol>
                        {% for via_spot in route.via_spots %}
                            <li>{{ via_spot }}</li>  <!-- 経由地点をリスト項目として表示 -->
                        {% endfor %}
                    </ol>
                </p>
                
            </div>

        </div>
        
    </div> 
    
</div>

<div class="route_html-container">
    <div class="route_html">
        {{ map_html_str|safe }}
    </div>
</div>

<div class="mypage">
    <a href="{% url 'accounts:index' %}" class="btn btn-primary">マイページに戻る</a> 
</div>

{% else %}
    <div class="for_login">
        <div class="h2">
            アカウントを登録してください。アカウントをお持ちの方は、ログインしてください。
        </div>

        <div class="btn-group">
            <a href="{% url 'accounts:signup' %}" class="btn btn-primary">アカウント登録</a>
            <a href="{% url 'accounts:login' %}" class="btn btn-primary">ログイン</a>
        </div>
    </div>
{% endif %}

{% endblock %}
