{% extends 'base.html' %}


{% block header %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/routesearch_styles.css' %}">
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<main class="content">
    <h2>経路検索</h2>
    <p>検索条件を入力してください</p>

    <!-- 入力欄 -->
    <form action="/routesearch/" method="post">
        {% csrf_token %}
            
        <div class="form-group"> 
            <label for="start_spot">出発地点:</label>
            <input type="text" id="start_spot" name="start_spot" placeholder="出発地点を入力"
            value="調布駅" autocomplete="off" class="input-wide" required/>
        </div>
        <div id="suggest_start" class="suggest"></div>


        <div class="form-group">
            <label for="spot_num">経由地点数:</label>
            <input type="number" id="number_spot" name="number_spot" min="0" max="10" value="0" onchange="ChangeSpotNum()">
        </div>

        {% for i in range10 %}
            <div class="form-group hide" id="spot-group{{ i }}"> 
                <label for="spot{{ i }}">経由地点{{ i }}:</label>
                <input type="text" id="spot{{ i }}" name="spot{{ i }}" placeholder="経由地点を入力"
                value="コンビニ" autocomplete="off" class="input-wide" />
                <label for="number{{ i }}">箇所数{{ i }}:</label>
                <input type="number" id="number{{ i }}" name="number{{ i }}" min="1" value="1" class="input-wide" />
            </div>
            <div id="suggest{{ i }}" class="suggest"></div>
        {% endfor %}
        
        <div class="form-group"> 
            <label for="goal_spot">到着地点:</label>
            <input type="text" id="goal_spot" name="goal_spot" placeholder="到着地点を入力"
            value="国領駅" autocomplete="off" class="input-wide" required/>
        </div>
        <div id="suggest_goal" class="suggest"></div>

        <div id="submit-btn">
            <input type="submit" value="探索">
        </div>
    </form>

    <hr>
    <div id="log_text">
        {{ text }}
    </div>
    <div class="route-display-area">
        {% for route in routes %}
            <div class="route-wrapper">
                <!-- 経路情報部分 -->
                <div id="route-{{ forloop.counter }}" class="route-container">
                    <h4>{{ route.name }}</h4>
                    <p>距離: {{ route.distance }} m</p>  <!-- 距離の表示 -->
                    <p>時間: {{ route.time }} 分</p>     <!-- 時間の表示 -->
                    <p>出発: {{ start_spot }}</p>       <!-- 出発地点 -->
                    <p>経由地点:
                        <ol>
                            {% for via_spot in route.via_spots %}
                                <li>{{ via_spot }}</li>  <!-- 経由地点をリスト項目として表示 -->
                            {% endfor %}
                        </ol>
                    </p>
                    <p>出発: {{ goal_spot }}</p>    <!-- 到着地点 -->
                    <form method="POST" class="save-route-form" id="save-route-form">
                        {% csrf_token %}
                        <input type="hidden" name="route_name" value="{{ route.name }}">
                        <input type="hidden" name="route_distance" value="{{ route.distance }}">
                        <input type="hidden" name="route_time" value="{{ route.time }}">
                        <input type="hidden" name="start_spot" value="{{ start_spot }}">
                        <input type="hidden" name="goal_spot" value="{{ goal_spot }}">
                        <input type="hidden" name="aim_tags" value="{{ aim_tags }}">
                        <input type="hidden" name="iframe_src" value="{{ route.iframe_src }}">
                        <input type="hidden" name="via_spots" value="{{ route.via_spots|join:',' }}">
                        <label for="got_route_name">経路の名前:</label>
                        <input type="text" id="got_route_name" name="got_route_name" placeholder="経路の名前を入力"
                        value="" autocomplete="off" class="input-wide" required/>
                        <button type="submit" class="btn-save">経路を保存</button>
                        <br>
                        <div class="h2" id="route-message-{{ route.name }}"></div>
                    </form>
                    
                </div>
                <!-- 地図部分 -->
                 {% load static %}
                <div id="routemap-{{ forloop.counter }}" class="routemap-container">
                    <iframe src="{% static route.iframe_src %}" width="100%" height="600px" frameborder="0" style="float: right;"></iframe>
                </div>
            </div>
        {% endfor %}
    </div>
    
{% else %}
<div class="h1">
    アカウントを登録してください。アカウントをお持ちの方は、ログインしてください。
</div>
<!-- ログインされていなければログインページ表示 -->
<a href="{% url 'accounts:signup' %}" class="btn btn-primary">アカウント登録</a>
<a href="{% url 'accounts:login' %}" class="btn btn-primary">ログイン</a>
{% endif %}


<!-- JavaScriptの追加 -->
<script src="{% static 'scripts/suggest.js' %}"></script>
<script src="{% static 'scripts/routesearch_scripts.js' %}"></script>

{% endblock %}