{% extends 'base.html' %}

{% block header %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/login_styles.css' %}">
{% endblock %}

{% block title %}
<div class="h1">ログイン</div>
{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <p class="error">
    {{ form.non_field_errors }}
    </p>
    
    {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">
                {{ field.label }}
            </label>
            {{ field }}
            <br>
            <p class="error">
            {{ field.errors }}
            </p>
        </div>
    {% endfor %}

    <div class="btn-group">
        <a href="{% url 'accounts:index' %}" class="btn btn-secondary">戻る</a>
        <button type="submit" class="btn btn-primary">ログイン</button>
    </div>
</form>
{% endblock %}