{% extends 'base.html' %}

{% block header %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/login_styles.css' %}">
{% endblock %}

{% block title %}
<div class="h1">アカウント登録</div>
{% endblock %}

{% block content %}
<div>
  <br>
  <form method="POST">
    {% csrf_token %}
      {{ form.non_field_errors }}
    {% for field in form %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">
          {{ field.label }}
        </label>
        {{ field }}
        {{ field.errors }}
        <br>
      </div>
    {% endfor %}
    <div class="mt-3">
      
      <button type="submit" class="btn btn-primary">アカウント登録</button>
      <!-- index.htmlへ -->
      <a href="{% url 'accounts:index' %}" class="btn btn-secondary">戻る</a>
    </div>
  </form>
</div>
{% endblock %}
